In [7]:
#While-løkker
# så lenge en betingelse er sann bruker vi while
# "så lenge", hvis ikke vi vet hvor lenge vi skal holde på
# pass på å ikke lage uendelige løkker, så ikke bruk betingelser som alltid er sant
teller = 10
while teller > 0:
    print(teller)
    teller -= 1


# oppvarming
    ##print alle partall fra 0 til 20  

teller = 2

while teller <= 20:
    teller += 2
    print(teller)

10
9
8
7
6
5
4
3
2
1
4
6
8
10
12
14
16
18
20
22

In [5]:
# For- løkker
# for løkker brukes for å gå gjennom en sekvens, en samling med tall. f.eks en liste med tall eller en ordbok med nøkkler
# 

for tall in [1,2,3,4,5,6,7,8,9,10]:
    print(tall)


for bokstav in "ja vi elsker":
    print(bokstav)

1
2
3
4
5
6
7
8
9
10

In [13]:
# Range
# range(start, slutt_flr, steg) er en innebygd funksjon som gir oss en sekvens med tall,
# somvi kan bruke i en for løkke

for tall in [1,2,3,4,5,6,7,8,9,10,11]: # dette blir slitsomt i lengden! her kan vi heler bruke range
    print(tall)

for tall in range(1,11,1): # for hvert tall i sekvensen som starter med 1, slutter før 4 og øker med 1
    print(tall)

# ekspertips, hvis vi starter på 0 trenger vi ikke skrive start argument
    # hvis vi skal øke med 1, trenger vi ikke skrive steg argument

for tall in range(8): 
    print(tall)

1
2
3
4
5
6
7
8
9
10
11
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7

In [15]:
for tall in range(10,-1,-1):
    print(tall)

10
9
8
7
6
5
4
3
2
1
0

In [16]:
fag = ["it1","it2", "1t", "r1", "r2"]
karakterer =[6,6,4,5,4]

for tall in range(len(fag)):
    print(f"{fag[tall]}: {karakterer[tall]}")

it1: 6
it2: 6
1t: 4
r1: 5
r2: 4

In [18]:
ravi = {
    "navn": "David Ravi",
    "alder": 43,
    "yrke": "mattelærer",
    "favorittaktivitet" : "gaming",
    "favorittdrikk": "databrus",
    123 : "favorittall" # vi kan også bruke andre type nøkkler i en ordbok
    # nøkkel : verdi

}

print(ravi["yrke"])
# variablene som opprettes i en for- løkke som går gjennom en ordbok 
# vil etter ur ha verdiene til nølklene i ordboka 
for nøkkel in ravi: 
    print(nøkkel, ravi[nøkkel])

# alternativt kan vi bruke .items() og to variabler for å gå gjennom 
for nøkkel, verdi in ravi.items():
    print(nøkkel, verdi)

mattelærer
navn David Ravi
alder 43
yrke mattelærer
favorittaktivitet gaming
favorittdrikk databrus
123 favorittall

In [1]:
skuespillere = [
    {"navn": "Tom Hanks", "alder": 66},
    {"navn": "Meryl Streep", "alder": 73},
    {"navn": "Leonardo DiCaprio", "alder": 48},
    {"navn": "Julia Roberts", "alder": 55},
    {"navn": "Denzel Washington", "alder": 67},
    {"navn": "Nicole Kidman", "alder": 55},
    {"navn": "Brad Pitt", "alder": 59},
    {"navn": "Charlize Theron", "alder": 47},
    {"navn": "Johnny Depp", "alder": 59},
    {"navn": "Emma Stone", "alder": 34},
]

favoritt = skuespillere[9]

# favoritt = skuespiller

print(f"{favoritt['navn']} ({favoritt['alder']})")

Emma Stone (34)

In [4]:
for s in skuespillere:
    print(f"{s['navn']}({s['alder']})")

Tom Hanks(66)
Meryl Streep(73)
Leonardo DiCaprio(48)
Julia Roberts(55)
Denzel Washington(67)
Nicole Kidman(55)
Brad Pitt(59)
Charlize Theron(47)
Johnny Depp(59)
Emma Stone(34)

In [5]:
eldst = skuespillere[0]
totalalder = 0
for skuespiller in skuespillere:
    totalalder += skuespiller["alder"]
    if skuespiller ["alder"] > eldst["alder"]:
        eldst = skuespiller

    
print(eldst)
snitt = totalalder / len(skuespillere)
print(snitt)

{'navn': 'Meryl Streep', 'alder': 73}
56.3